[submodule "docs"]
	path = docs
	url = https://github.com/brandon-schabel/bun-nook-kit-docs
[submodule "bun-nook-kit-docs"]
	path = bun-nook-kit-docs
	url = https://github.com/brandon-schabel/bun-nook-kit-docs
